.userInfoConatiner {
    max-height: 70px;
    overflow-y: auto;
    padding: 2rem;
    position: relative;
    top: 14rem;
    left: 6rem;
    
    background-color: #18181b;
    border-radius: 0.5rem;
    color: white;
    min-width: 280px;
}

@media (min-width: 768px) {
    .userInfoConatiner {
        max-height: 250px;
        left: 24rem;
    }

    .userInfo {
        padding: 0.5rem 1.5rem;
    }
}

.userInfo:hover {
    background-color: #18181b;
    border-radius: 0.5rem;  
}

.userInfo {    
padding: 0.5rem 1rem;
}

.showList {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: small;
    background-color: gray;
    border: 2px solid gray;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    user-select: none;
    right: 0;
}
