.sheetparent{
    position: absolute;
    right: 7.5vw;
    width: 30vw;
    height: 85vh;
    background-color: #113511;
    z-index: 3;
    border: 5px solid rgb(255, 166, 0);
    /* opacity: 0.4; */
    color: white;
}


.title{
    margin-left: 2rem;
    margin-right: 2rem;
}

.sheetchild{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.oneeg{
    display: flex;
    gap: 2rem;
}

.circle{
    height: 5rem;
    width: 5rem;
}

.p{
    opacity: 0.9;
}


.sheetparent{
    overflow: auto;
}