.experimentbody{
    height: 85vh;
    width: 85vw;
    background-color: #D9D9D9;
    color: black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5vh; */
   
}

.drag{
    height: 5rem;
    width: 5rem;
    background-color: blue;
}

.plate {
    position: relative;
    display: inline-flex; 
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #e4e4e4;
    border-radius: 50%;
    justify-content: center;
    font-size: 15px;
    box-shadow: 1px 1px 4px 1px #000;
    padding: 30px;
    margin: 20px;
  }
  
  .inner_plate {
    align-self: center;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    border: #dddddd solid 2px;
    background-color: #d2d2d2;
    font-size: 1rem;
    box-shadow: 0 0 10px 10px #cfcfcf;
    justify-content: center;
    padding: 25px;
    text-align: center;
  }
  
  .inner_plate img {
      margin-top: 5px;
      max-width: 100%;
      max-height: 150px;
      border-radius: 40%;
      z-index: 1;
      position: relative;
      margin: 25px 2px;
  }
  
  .inner_plate h3 {
      max-width: 250px;
      padding: 0 15px;
  }


  .plateimg{
    height: 10rem;
    
  }


  
.red{
    height: 5rem;
    width: 5rem;
    background-color: red;
}

.green{
    height: 5rem;
    width: 5rem;
    background-color: green;
}


.blue{
    height: 5rem;
    width: 5rem;
    background-color: blue;
}


.colordrop{
    transform: rotate(135deg);
    border-radius: 30rem 30rem 30rem 0;
    left: 4.6rem;
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.138);
}

.reset{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}



.beaker{
    width: 10rem;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.dropper{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}

.droppers{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20rem; */
    /* background-color: pink; */
}

.burner{
    /* height: 5rem; */
    width: 8rem;
    /* background-color: brown; */
    margin-top: -4rem;
    z-index: 1;
}


.indidropper{
    color: black;
}

.dish{
    display: flex;
    flex-direction: column;
}

.crystal{
    margin-top: 3rem;
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 20rem;
    z-index: 2;
    position: absolute;
    opacity: 0.9;
    pointer-events: none;
}

.spatula{
    /* margin-top: 2rem; */
    /* margin-left: 1rem; */
    z-index: 0;
    pointer-events: none;
    /* padding-top: 3rem; */
    /* transform: rotate(25deg); */
}

.petridish{
    width: 15rem;
    pointer-events: none;
}

.spatulaparent{
    margin-bottom: -5rem;
    margin-left: 5rem;
    z-index: 1;
    /* background-color: blue; */
}

/* .parentparnet{
    background-color: blue;
    z-index: 2;
    padding: 2rem;
} */



.table{
    background-color: #453128;
    height: 5rem;
    width: 75vw;
}

.tableitems{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}


.elementparent{
    margin-bottom: -2rem;
}
.elementdish{
    width: 12rem;
}

.ar{
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    width: 4rem
}

.i{
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    width: 2rem
}

.x{
    position: absolute;
    top: 15vh;
    right: 10vw;
    z-index: 4;
}