.notfounddiv{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    max-height: 100%;
}

.notfoundchild{
    display: flex;
    align-items: center;
    /* justify-content: baseline; */
    gap: 3rem;
}

.image{
    height: 20rem;
}

.title{
    margin-top: -5rem;
    font-size: 10rem;
    font-weight: 800;
}

.notfound{
    margin-top: -9rem;
    font-size: 3rem;
    margin-bottom: -1rem;
}